* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: rgb(246, 252, 223);
    padding: 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.header i {
    text-align: left;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.profile {
    text-align: right;
}